  /* Work sans font form google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  * {
      font-family: 'Lato', sans-serif;
      font-family: 'Work Sans', sans-serif;
      margin: 0;
      padding: 0;
  }

  /* common shared style start */
  .btn-primary {
      border: none;
      border-radius: 8px;
      background-color: #FF900E;
      padding: 15px 25px;
      color: #FFF;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 20px;
  }

  .btn-primary:hover {
      background-color: cornflowerblue;
  }

  /* header style start */
  header {
      background-color: rgba(255, 144, 14, 0.10);
      padding: 50px 220px;
  }

  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
  }

  .nav-title {
      color: #131313;
      font-size: 2.8rem;
      font-weight: 700;
  }

  nav>ul {
      display: flex;
  }

  nav>ul>li {
      list-style: none;
      margin: 30px;
      font-weight: 500;
      font-size: 1rem;

  }

  nav li a {
      text-decoration: none;
      color: #424242;
  }

  /* main style */
  main {
      max-width: 1440px;
      margin: 70px auto;
  }

  /* Banner style start */
  .banner-container {}

  .banner-content {
      max-width: 800px;
      text-align: center;
      margin: 0 auto;

  }

  .banner-title {
      color: #131313;
      font-size: 4rem;
      font-weight: 700;

  }

  .banner-description {
      color: #727272;
      font-size: 1rem;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 20px;
  }

  #btn-banner {}

  .banner-image {
      margin-top: 30px;
      width: 100%;
  }

  /* Banner section related style end */

  /* features section related style start */
  .features {}

  .features-container {
      display: flex;
      align-items: center;
  }

  .features-images-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      margin-left: 40px;
  }

  .feature-images {
      width: 300px;
      height: 300px;
  }

  .features-content {
      padding-left: 50px;
      padding-right: 70px;
  }

  .features-title {
      color: #131313;
      font-size: 2.8rem;
      font-weight: 700;
  }

  .quick-list {
      color: #727272;
      font-size: 2.8rem;
      font-weight: 500;
  }

  .featur {
      color: #FF900E;
      font-size: 2.8rem;
      font-weight: 700;
  }

  .features-description {
      color: #727272;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 20px;
  }

  .fact {}

  .fact-container {
      margin-top: 60px;
      margin-left: 30px;
  }

  .fact-title {
      color: #131313;
      font-size: 2.8rem;
      font-weight: 700;
  }

  .fact-discription {
      max-width: 542px;
      color: #727272;
      font-weight: 400;
      line-height: 26px;
  }

  .fact-card-container {
      display: flex;
      justify-content: space-around;
  }

  .card {
      border-radius: 8px;
      border: 1px solid #FF900E;
      width: 240px;
      height: 130px;
      text-align: center;
      align-items: center;
      padding: 40px 0;
      margin: 10px;
  }

  .card-image {
      width: 45.221px;
      height: 45.221px;
  }

  .card-title {
      color: #424242;
      font-size: 2.8rem;
      font-weight: 600;
  }

  .card-description {
      color: #727272;
      font-size: 1.25rem;
      font-weight: 600;
  }

  .sponsors-container {
      margin-top: 150px;
  }

  .sponsors-content {
      text-align: center;
      /* padding: 0 300px; */
      margin-bottom: 50px;
  }

  .sponsors-title {
      color: #131313;
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 20px;
  }

  .sponsors-description {
      color: #727272;
      font-weight: 400;
      line-height: 26px;
  }

  .sponsors-logos {
      display: flex;
      justify-content: space-evenly;
      ;
  }

  .logos {
      width: 165px;
      height: 50px;
      padding: 30px;
  }



  /* features section related style end */

  /* responsive style media queries */
  /* Mobile devices related style */

  @media screen and (max-width: 576px) {
      header {
          padding: 20px;
      }

      nav {
          flex-direction: column;
      }

      .features-container {
          flex-direction: column;
      }

      .features-images-container {
          grid-template-columns: 1fr;
      }

      .features-content {
          padding-left: 20px;
          padding-right: 20px;
      }

      .features-images-container {
          margin: 0;
      }

      .fact-card-container {
          flex-direction: column;
          align-items: center;
      }

      .sponsors-content {
          padding: 0 30px;
      }
      .sponsors-logos{
        flex-direction: column;
        align-items: center;
      }

  }

  /* Tablet or medium devices related style */
  @media screen and (min-width:576px) and (max-width:960px) {
      header {
          padding: 20px;
      }

      nav {
          flex-direction: column;
      }

      .features-container {
          flex-direction: column;
      }

      .features-images-container {
          margin: 0;
      }

      .fact-card-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-left: 40px;
      }

      .sponsors-content {
          padding: 0 30px;
      }
      .sponsors-logos{
        flex-direction: column;
        align-items: center;
      }
  }